.headings {
    font-family: 'Poppins' !important;
    font-weight: 700 !important;
    margin-bottom: 32px;
  }

.headings-button {
    font-family: 'Poppins' !important;
    font-weight: 600 !important;
}

.paragraph {
    font-family: 'Lato' !important;
    font-weight: 500;
}

.transparent-span {
    background-color: white;
    border-width: 0;
}
  
.form-group {
    width: 45%;
}

.form-group-single {
    width: 90%;
}

.form-control {
    border-width: 0px;
    background-color: white !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.input-group {
    border-width: 2px;
    border-style: solid;
    border-color: #CED4DA;
    margin-bottom: 24px;
    border-radius: 8px;
}
  
.input-group:focus-within {
    border-color: #36771C !important;
}

.auth-button {
    background-color: #2E6418;
    border: 0;
    border-radius: 4px;
    color: white;
    height: 40px;
}
  
.auth-button:hover {
    background-color: #36771C;
    border: 0;
}
  
.auth-button:active {
    background-color: #36771C !important;
    border: 0;
    box-shadow: 0 0 0 0.15rem rgba(53,128,18,0.25) !important;
}
  
.auth-button:focus {
    background-color: #36771C;
    border: 0;
    box-shadow: 0 0 0 0.15rem rgba(53,128,18,0.25) !important;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
    overflow: hidden;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #2E6418 !important;
    font-weight: bold !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 1;
    color: #36771C;
    text-decoration: none;
    background-color: #36771c11;
}
