.main-headings {
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  color: #212529;
}

.headings {
  font-family: 'Poppins' !important;
  font-weight: 600 !important;
  color: #212529;
}

.paragraph {
  font-family: 'Lato' !important;
  font-weight: 500;
  text-align: left;
  color: #212529;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.image-settings {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  width: 50%;
}

.card-style {
  width: 40%;
  display: block;
  margin: 0 auto;
  border-width: 10px;
  border-radius: 15px;
  border-color: #2E6418;
  border-style: solid;
  box-shadow: 2px 2px 5px rgba(101,101,101,0.43);
}

.card-style:hover {
  width: 40%;
  display: block;
  margin: 0 auto;
  border-width: 10px;
  border-radius: 15px;
  border-color: #2E6418;
  border-style: solid;
  box-shadow: 3px 3px 5px rgba(101,101,101,0.53);
  transform: scale(1.05);
  z-index: 1009;
}

.card-body-style {
  border-radius: 15px !important;
}

.pack-image-settings {
  margin: 0 auto;
  display: block;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.package-col {
  padding-right: calc(var(--bs-gutter-x) * .0) !important;
  padding-left: calc(var(--bs-gutter-x) * .0) !important;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(101,101,101,0.43);
}

.package-col:hover {
  padding-right: calc(var(--bs-gutter-x) * .0) !important;
  padding-left: calc(var(--bs-gutter-x) * .0) !important;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(101,101,101,0.53);
  transform: scale(1.10);
  z-index: 1009;
  cursor: pointer;
}

.package-col:focus {
  padding-right: calc(var(--bs-gutter-x) * .0) !important;
  padding-left: calc(var(--bs-gutter-x) * .0) !important;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(101,101,101,0.53);
  transform: scale(1.10);
  z-index: 1009;
  cursor: pointer;
}

.package-center {
  text-align: center;
  margin-bottom: 0;
  color: #F5F5F5;
  border-radius: 0px 0px 8px 8px;
  background-color: #2E6418;
}

.package-col:hover .package-center {
  color: #F6D155;
}

.package-col:focus .package-center {
  background-color: #35701c !important;
  color: #F6D155;
}

.row-gap-col {
  column-gap: 30px;
}

.buy_button {
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
  background-color: #2E6418;
  border-color: #2E6418;
  font-size: 32px;
  padding: 12px 24px;
  width: 61% !important;
}

.buy_button:hover {
  box-shadow: 0 2px 0 1px rgb(0 0 0 / 30%);
  border-color: #5cad1f;
  background-color: #36771c;
  font-size: 32px;
  padding: 12px 24px;
  width: 61% !important;
}

.buy_button:active {
  border-color: #5cad1f !important;
  background-color: #36771c !important;
  font-size: 32px !important;
  padding: 12px 24px !important;
  width: 61% !important;
  box-shadow: 0 0 0 .20rem rgb(92,173,31) !important;
}

.buy_button:focus {
  box-shadow: 0 1px 0 1px rgb(0 0 0 / 30%);
  background-color: #2E6418;
  border-color: #2E6418;
  font-size: 32px;
  padding: 12px 24px;
  width: 61% !important;
}

.align-button {
  text-align: center;
}