.progress-title{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 10px;
}
.progress-outer{
  background: #fff;
  padding: 5px 80px 5px 5px;
  border: 5px solid #bebfbf;
  border-radius: 45px;
  position: relative;
}
.progress{
  background: #bebfbf;
  border-radius: 20px;
  margin: 0;
}
.progress .progress-bar{
  border-radius: 20px;
  box-shadow: none;
  animation: animate-positive 2s;
}
.progress .progress-value{
  font-size: 20px;
  font-weight: 700;
  color: #6b7880;
  position: absolute;
  top: 12px;
  right: 6px;
}
@keyframes animate-positive{
  0%{ width: 0; }
}
#ProgressColumn{
  flex: 0 0 100%;
  max-width: 100%;
}
.progress-bar-striped {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #2E6418;
  transition: width .6s ease;
}