{% extends 'MainNav.html' %}

{% block title %} BetBeans | Meus Pedidos {% endblock %}
    
{% block content %}
<link rel="stylesheet" href="/assets/css/AuthForms.css">
<div class="formContent" style="transform:translateY(5%) !important;">
<form action="/edit_event" method="post" enctype="multipart/form-data">
    <h1 class="headings">Editar o Evento</h1>
    <div class="row">
        <div class="form-group">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-database"></i></span><input class="form-control paragraph" type="number" placeholder="ID do Evento" name="event_id" required="" min="1"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-image"></i></span><input class="form-control paragraph" type="file" name="image" multiple required=""></div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-header"></i></span><input class="form-control paragraph" type="text" placeholder="Título do Produto" name="product_heading" required="" minlength="0" maxlength="100"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-file-text"></i></span><textarea class="form-control paragraph" placeholder="Descrição" name="description" required="" maxlength="1000" minlength="0"></textarea></div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-money"></i></span><input class="form-control paragraph" type="number" placeholder="Preço" name="sell_product_price" min="1" max="1000000"></div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="input-group"><span class="input-group-text transparent-span"><i class="fa fa-list"></i></span>
            <select class="form-control paragraph" name="category" required="" style="appearance: menulist;-webkit-appearance: menulist;">
                <option value="" disabled selected hidden>Escolha a Categoria do Evento</option>
                <option value="Imóveis">Imóveis</option>
                <option value="Joalheria">Joalheria</option>
                <option value="Tecnologia">Tecnologia</option>
                <option value="Veículos">Veículos</option>
                <option value="Viagens">Viagens</option>
            </select>
            </div>
        </div>
    </div>
    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required=""><label class="form-check-label paragraph" for="formCheck-1">Revi todos os detalhes do evento.</label></div>
    <br>
    <button class="btn btn-primary col-12 auth-button headings-button" id="submit" type="submit">Editar o Evento</button>
</form>
</div>
<script src="/assets/js/ProductSampleInput.js"></script>
{% endblock %}