{% extends 'MainNav.html' %}

{% block title %} BetBeans | Perguntas Frequentes {% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="container">
                <h1>Perguntas Frequentes</h1>
                <div class="faqs-container" itemscope="">
                    <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                        <h1 class="faq-question" itemprop="&quot;name&quot;">Como Funcionam os Concursos?</h1>
                        <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                            <div itemprop="&quot;text&quot;">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faqs-container" itemscope="">
                    <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                        <h1 class="faq-question" itemprop="&quot;name&quot;">Como Funcionam os Concursos?</h1>
                        <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                            <div itemprop="&quot;text&quot;">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faqs-container" itemscope="">
                    <div class="faq-singular" itemscope="" itemprop="&quot;mainEntity&quot;">
                        <h1 class="faq-question" itemprop="&quot;name&quot;">Como Funcionam os Concursos?</h1>
                        <div class="faq-answer" itemscope="" itemprop="&quot;acceptedAnswer&quot;">
                            <div itemprop="&quot;text&quot;">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}