{% extends 'MainNav.html' %}

{% block title %} BetBeans | Meus Pedidos {% endblock %}
    
{% block content %}
<link rel="stylesheet" href="/assets/css/ControlPanel.css">
    <div class="container">
        <form>
            <h1 class="headings">Gerir os Eventos</h1><br>
            <div class="container">
                <div class="row">
                    <a href="/TheBrain/ManageEvents/List" class="column-style">
                        <h3 class="headings-column box-headings" style="font-size:40px"><i class="material-icons icons-panel">list</i> List all Events</h3>
                    </a>
                </div>
                <div class="row">
                    <a href="/TheBrain/ManageEvents/Create" class="col-md-12 col-xl-4 column-style">
                        <h3 class="headings-column box-headings"><i class="material-icons icons-panel">add</i> Create Event</h3>
                    </a>
                    <a href="/TheBrain/ManageEvents/Edit" class="col-xl-4 column-style">
                        <h3 class="headings-column box-headings"><i class="material-icons icons-panel">edit</i> Edit Event</h3>
                    </a>
                    <a href="/TheBrain/ManageEvents/Delete" class="col-xl-4 column-style">
                        <h3 class="headings-column box-headings"><i class="material-icons icons-panel">delete</i> Delete Event</h3>
                    </a>
                </div>
                <br>
            </div>
        </form>
    </div>
{% endblock %}